/* 
    Created on : 01 maig 2023, 08:12:38
    Author     : Txell Llanas
*/


/* GENÈRICS */
.h1 {-fx-font-size: 20pt;}
.h3 {-fx-font-size: 14pt;}
.bold {-fx-font-weight: bold;}

/* COLORS */
.txt-danger{-fx-text-fill: red;}
.txt-white{-fx-text-fill: white;}
.bg-clar {-fx-background-color: white;}
.bg-mig {-fx-background-color: #f4f4f4;}
.bg-fosc {-fx-background-color: #787c7e;}
.bg-verd {-fx-background-color: #6aaa64;}
.bg-taronja {-fx-background-color: #f89b23;}
.bg-vermell {-fx-background-color: f82323;}

/* CONTENIDORS */
#container_top, #container_bottom, #container_amb_padding {-fx-padding: 30px;}
#container_center {}
#menu{}
.bloc-informacio {
    -fx-background-radius: 20px;
}
.block-ranking-usuari{
    -fx-background-radius: 10px;
    -fx-padding:10px;
}

/* PROPIS */
.padding-marges{-fx-padding:30px;}
.shadow {-fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 20, 0, 5, 10);}
.ranking-label-txt {-fx-font-size: 12pt;}
.ranking-label-txt-puntuacio {-fx-font-size: 20pt;}
.ranking-label-txt-posicio {-fx-font-size: 10pt;}
.cursor-hand {-fx-cursor: hand;}

/* CASELLES GRAELLA i TÍTOL + TECLES TECLAT */
.casella {
    -fx-font-size: 30px;
    -fx-font-weight: bold;
    -fx-pref-width: 50px;
    -fx-pref-height: 50px;
    -fx-min-width: 50px;
    -fx-min-height: 50px;
    -fx-text-alignment: center;
    -fx-alignment: center;
    -fx-background-radius: 5px;
}
.casella-buida{
    -fx-background-color: transparent;
    -fx-border-color: #d3d6da;
    -fx-border-radius: 5px;
    -fx-text-fill: black;
}
.casella-amb-lletra {
    -fx-border-color: #878a8c;
}
.casella-verda {
    -fx-background-color: #6aaa64;
    -fx-text-fill: white;    
}
.casella-taronja {
    -fx-background-color: #c9b458;
    -fx-text-fill: white;    
}
.casella-grisa {
    -fx-background-color: #787c7e;
    -fx-text-fill: white;    
}

.tecla {
    -fx-background-color: #d3d6da;
    -fx-text-fill: black;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-min-width: 43px;
    -fx-min-height: 58px;
    -fx-text-alignment: center;
    -fx-alignment: center;
    -fx-background-radius: 4px;    
    -fx-cursor: hand;
}
.tecla-pressed {
    -fx-background-color: #787c7e;
    -fx-text-fill: white;
}

/* COMPTADOR */
#comptador {
    /*-fx-background-color: linear-gradient(to bottom right, #6990af, #74b2af);
    -fx-background-color: #787c7e;*/
    -fx-background-radius: 10px;
    -fx-padding: 10px;
    -fx-pref-width: 200px;
    -fx-pref-height: 120px;
}
#ranking {
    -fx-background-color: white;
    -fx-background-image: url("../images/festa.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 600;
    -fx-background-position: -8px -198px;
    -fx-background-radius: 30px;
}
.label#xifres_minuts, .label#xifres_segons, .label#xifres_dospunts, .label#label_minuts, .label#label_segons {
    -fx-text-fill: white;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.25), 20, 0.15, 5, 10);
}
.label#xifres_minuts, .label#xifres_dospunts, .label#xifres_segons {
    -fx-font-size: 35pt;
    -fx-font-weight: bold;
}
.label#label_minuts, .label#label_segons {
    -fx-font-size: 12pt;
}

/* HALL OF FAME (TableView) */
.table-view .scroll-bar * {
    -fx-min-width: 0;
    -fx-pref-width: 0;
    -fx-max-width: 0;

    -fx-min-height: 0;
    -fx-pref-height: 0;
    -fx-max-height: 0;
}
.noheader .column-header-background {
    -fx-max-height: 0;
    -fx-pref-height: 0;
    -fx-min-height: 0;
}
.table-view {
    -fx-background-color: transparent!important;
    -fx-pref-height: 320px;
    -fx-pref-height: 200px;
}
.table-view .table-cell{
    -fx-border-size: 0px;    
    -fx-border-color: transparent;    
    -fx-font-size: 12pt;
    -fx-alignment: baseline-center;
    -fx-text-align: center;
    -fx-pref-height: 40;
}
.table-row-cell {
    -fx-background-color: #F2F2F2;
    -fx-background-radius: 20px;
}
.table-row-cell:odd {
    -fx-background-color: white;
    -fx-background-radius: 20px;
}
.table-row-cell.usuari, .table-row-cell:odd.usuari {
    /*-fx-background-color: #ffd3d3;*/
    -fx-background-color: red;
    -fx-background-radius: 20px;
}
.table-row-cell.guanyador, .guanyador { 
    /*-fx-background-color: #fbbc05;*/
    -fx-background-color: yellow;
    -fx-background-radius: 20px;
    -fx-font-size: 20pt;
}

.txt-resaltat .table-cell {
    /*-fx-font-size: 18pt;*/
    -fx-font-weight: bold;
}
.txt-clar .table-cell {
    -fx-text-fill: white;
    -fx-font-weight: bold;
}